<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-residence-heading" jhiTranslate="civilianManagementApp.residence.home.createOrEditLabel">Create or edit a Residence</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="civilianManagementApp.residence.no" for="field_no">No</label>
                    <input type="text" class="form-control" name="no" id="field_no"
                           formControlName="no"/>
                    <div *ngIf="editForm.get('no')!.invalid && (editForm.get('no')!.dirty || editForm.get('no')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('no')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="civilianManagementApp.residence.fullAddress" for="field_fullAddress">Full Address</label>
                    <input type="text" class="form-control" name="fullAddress" id="field_fullAddress"
                           formControlName="fullAddress"/>
                    <div *ngIf="editForm.get('fullAddress')!.invalid && (editForm.get('fullAddress')!.dirty || editForm.get('fullAddress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fullAddress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="civilianManagementApp.residence.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="civilianManagementApp.residence.rT" for="field_rT">R T</label>
                    <select class="form-control" id="field_rT" name="rT" formControlName="rT">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rTOption.id === editForm.get('rT')!.value?.id ? editForm.get('rT')!.value : rTOption" *ngFor="let rTOption of rts; trackBy: trackById">{{ rTOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
